---
/**
 * Component for displaying a single post link with title and datetime.
 */

import { slugifyStr } from "@utils/slugify";
import type { AnyCollectionEntry } from "@utils/contentConfig";
import PostDatetime from "./PostDatetime.astro";

export interface Props {
  href?: string; // URL for the post link
  frontmatter: AnyCollectionEntry["data"]; // Post frontmatter data
}

const { href, frontmatter } = Astro.props;
const { title, publicationDatetime, updateDatetime } = frontmatter;
const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium no-underline decoration-dashed hover:underline",
};
---

<li class="my-6 flex place-content-between">
  <a
    href={href}
    class="text-accent mr-2 inline-block text-lg font-medium no-underline! focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <h2 {...headerProps}>{title}</h2>
  </a>
  <PostDatetime
    publicationDatetime={publicationDatetime}
    updateDatetime={updateDatetime}
    icon={false}
    className="text-right"
  />
</li>
