---
/**
 * Resume component displaying professional profile, education, work history, and skills.
 */

import { Image } from "astro:assets";

// Images
import photo from "../assets/images/resume/photo.jpeg";
import octipas from "../assets/images/resume/octipas.png";
import slb from "../assets/images/resume/slb.jpeg";

// Icons
import {
  GraduationCapIcon,
  UserIcon,
  MapPinIcon,
  EnvelopeSimpleIcon,
  CakeIcon,
  SuitcaseSimpleIcon,
  GithubLogoIcon,
} from "@phosphor-icons/react/dist/ssr";

// Languages and levels (out of 100)
const languages = {
  Français: 100,
  Anglais: 80,
  Espagnol: 30,
};
---

<div
  id="resume"
  class="mb-8 md:mx-8 md:flex md:p-8 print:mx-6 print:mb-0 print:p-2 print:text-xs"
>
  <div id="left-column" class="w-full md:mr-10 md:basis-[70%]">
    <div id="resume-main" class="max-md:text-center md:flex">
      <Image
        src={photo}
        alt="photo"
        class="h-40 w-40 rounded-lg max-md:mx-auto"
      />

      <div id="resume-name" class="max-md:mt-3 md:ml-8">
        <h1 class="font-bold max-md:text-3xl md:text-5xl print:text-3xl">
          Cyprien Guillemot
        </h1>
        <h2 class="mt-3 text-lg font-normal">Senior software engineer</h2>

        <div class="md:hidden">
          <p>
            <MapPinIcon
              className="mb-1 h-4 text-slate-600 dark:text-slate-200"
            />
            Montpellier, France
          </p>
          <a href="mailto:cyprien@guillemot.me">
            <EnvelopeSimpleIcon
              className="mb-1 h-4 text-slate-600 dark:text-slate-200"
            />
            cyprien@guillemot.me
          </a>
          <p>
            <CakeIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
            2024-08-18
          </p>
          <a href="https://github.com/cyprieng">
            <GithubLogoIcon
              className="mb-1 h-4 text-slate-600 dark:text-slate-200"
            />
            github.com/cyprieng
          </a>
        </div>
      </div>
    </div>

    <div id="resume-profile" class="mt-8">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        <UserIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
        Profil
      </h3>
      Software engineer avec plus de 8 ans d'expérience couvrant le développement
      logiciel, l'architecture, l'infrastructure et la gestion d'équipe.
      <br />
      Expérimenté dans la conception et la mise en œuvre de solutions évolutives
      et performantes.
      <br />
      Passionné par la technologie, la résolution de problèmes et l'exploration continue
      de nouveaux outils et frameworks. Je souhaite mettre mes compétences au service
      d'une organisation innovante.
    </div>

    <div id="resume-education" class="mt-8">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        <GraduationCapIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        Études
      </h3>

      <div class="row mb-8">
        <h4 class="text-lg font-extrabold print:text-sm">
          Diplôme d'ingénieur de l'Université de Technologie de Troyes
        </h4>
        <p>
          Diplôme d'ingénieur en Informatique et Systèmes d'Information
          (Option&nbsp;:&nbsp;Management de Projets Logiciels).
        </p>
        <p class="date text-slate-400 dark:text-slate-300">2011–2017</p>
      </div>

      <div class="row mb-8">
        <h4 class="text-lg font-extrabold print:text-sm">
          Franklin W. Olin College of Engineering
        </h4>
        <p>Semestre d'échange.</p>
        <p class="date text-slate-400 dark:text-slate-300">
          Septembre–Décembre 2014
        </p>
      </div>
    </div>

    <div id="resume-work" class="mt-8">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        <SuitcaseSimpleIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        Expériences professionnelles
      </h3>

      <div class="row mb-8">
        <Image
          src={octipas}
          alt="Octipas"
          class="float-right mr-4 w-40 pl-4 invert dark:invert-0"
        />
        <h4 class="text-lg font-extrabold print:text-sm">Lead developer</h4>
        <h5>Octipas by Chapsvision</h5>
        <p>
          <ul class="list-disc pl-5"></ul>
          <li>
            Conception et mise en œuvre d’API RESTful, de microservices et de
            bases de données afin de garantir des systèmes backend robustes et
            efficaces.
          </li>
          <li>
            Développement d’applications front-end réactives et intuitives avec
            VueJS.
          </li>
          <li>
            Architecture et maintenance d’infrastructures cloud sur AWS et
            Azure, assurant haute disponibilité, sécurité et performance.
          </li>
          <li>
            Mise en place de solutions d’observabilité complètes avec Datadog
            pour la supervision, la journalisation et l’APM sur l’ensemble de la
            stack applicative.
          </li>
          <li>
            Gestion des revues de code, accompagnement et encadrement technique
            en tant que Lead Developer.
          </li>
          <br />
          <b>Stack :</b> Node.js, VueJS, Laravel, Python, MySQL, ClickHouse, MongoDB,
          Terraform
        </p>
        <p class="date text-slate-400 dark:text-slate-300">2017–Maintenant</p>
      </div>

      <div class="row mb-8">
        <Image src={slb} alt="octipas" class="float-right mr-4 w-20 pl-4" />
        <h4 class="text-lg font-extrabold print:text-sm">
          Développeur (Stage)
        </h4>
        <h5>SLB (Schlumberger)</h5>
        <p>
          <ul class="list-disc pl-5">
            <li>
              Création d’un framework Python destiné à simplifier les tests
              d’intégration de logiciels développés en C++/Qt. Ce framework
              offre des API de haut niveau pour interagir directement avec
              l’interface utilisateur.
            </li>
            <li>
              Développement et mise en œuvre de tests en utilisant ce framework.
            </li>
            <li>
              Formation des développeurs et des équipes QA à l’utilisation du
              framework.
            </li>
          </ul>
        </p>
        <p class="date text-slate-400 dark:text-slate-300">
          Septembre 2016 – Février 2017
        </p>
      </div>
    </div>
  </div>
  <div id="right-column" class="w-full md:basis-[30%]">
    <div class="max-md:hidden">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        Détails
      </h3>
      <p>
        <MapPinIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
        Montpellier, France
      </p>
      <a href="mailto:cyprien@guillemot.me">
        <EnvelopeSimpleIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        cyprien@guillemot.me
      </a>
      <p>
        <CakeIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
        2024-08-18
      </p>
      <a href="https://github.com/cyprieng">
        <GithubLogoIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        github.com/cyprieng
      </a>
    </div>

    <div class="skills">
      <h3
        class="mt-8 mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        Compétences techniques
      </h3>

      <h4 class="mt-4">Langages de programmation</h4>
      JavaScript, TypeScript, Python, Go, PHP, C/C++, Java, Swift, Shell

      <h4 class="mt-4">Front-end</h4>
      HTML, CSS, VueJS, React, TailwindCSS

      <h4 class="mt-4">Frameworks</h4>
      Django, Laravel, Next.js, Serverless

      <h4 class="mt-4">Bases de données</h4>
      MySQL, PostgreSQL, ClickHouse, MongoDB, SQL

      <h4 class="mt-4">Cloud & DevOps</h4>
      Docker, Kubernetes, Terraform, AWS, Azure, Git, Subversion

      <h3
        class="mt-8 mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        Langues
      </h3>
      {
        Object.entries(languages).map(([language, level]) => {
          return (
            <div class="skill mt-4">
              <h4>
                {language} : {level} %
              </h4>
              <div class="progress-bar h-2.5 w-full rounded-full bg-gray-200">
                <div
                  style={{ width: `${level}%` }}
                  class="bg-accent h-2.5 rounded-full"
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
