---
import { Image } from "astro:assets";

// Images
import photo from "../assets/images/photo.jpeg";
import octipas from "../assets/images/octipas.png";
import slb from "../assets/images/slb.jpeg";

// Icons
import {
  GraduationCap,
  User,
  MapPin,
  EnvelopeSimple,
  Cake,
  Flag,
  SuitcaseSimple,
  GithubLogo,
} from "@phosphor-icons/react/dist/ssr";

const skills = {
  Javascript: 100,
  Python: 100,
  Go: 80,
  VueJS: 90,
  React: 80,
  PHP: 100,
  "Docker/K8S/Terraform": 90,
  "AWS/Azure": 80,
  MongoDB: 70,
  "MySQL/PostgreSQL": 80,
};

const languages = {
  French: 100,
  English: 80,
  Spanish: 30,
};
---

<div id="resume">
  <div id="left-column">
    <div id="resume-main">
      <Image src={photo} alt="photo" />

      <div id="resume-name">
        <h1>Cyprien</h1>
        <h2>Software engineer</h2>
      </div>
    </div>

    <div id="resume-profile">
      <h3>
        <User />
        Profile
      </h3>
      Professional software engineer with 8+ years of experience spanning software
      development, architecture, infrastructure, and leading teams.
      <br />
      Experienced in designing and delivering scalable, efficient solutions.
      <br />
      Passionate about technology, problem-solving, and continually exploring new
      tools and frameworks. Seeking to bring my skills to an innovative organization.
    </div>

    <div id="resume-education">
      <h3>
        <GraduationCap />
        Education
      </h3>

      <div class="row">
        <h4>Master's degree from Université de Technologie de Troyes</h4>
        <p>Master's degree in Computer Science.</p>
        <p class="date">2011–2017</p>
      </div>

      <div class="row">
        <h4>Franklin W. Olin College of Engineering</h4>
        <p>Exchange semester.</p>
        <p class="date">September–December 2014</p>
      </div>
    </div>

    <div id="resume-work">
      <h3>
        <SuitcaseSimple />
        Work history
      </h3>

      <div class="row">
        <Image src={octipas} alt="Octipas" class="invert dark:invert-0 w-40" />
        <h4>Lead developer</h4>
        <h5>Octipas by Chapsvision</h5>
        <p>
          <ul>
            <li>
              Designed and implemented RESTful APIs, microservices, and
              databases to ensure robust and efficient backend systems.
            </li>
            <li>
              Developed responsive and intuitive frontend applications using
              VueJS.
            </li>
            <li>
              Architected and maintained cloud-based infrastructure on AWS and
              Azure, ensuring high availability, security, and performance.
            </li>
            <li>
              Managed code reviews, provided mentoring, and offered technical
              guidance as Lead Developer.
            </li>
          </ul>

          <br />
          <b>Stack:</b> Laravel, Node.js, VueJS, Python, MySQL, Clickhouse, MongoDB,
          Terraform
        </p>
        <p class="date">2017–Present</p>
      </div>

      <div class="row">
        <Image src={slb} alt="octipas" class="w-20" />
        <h4>Developer (internship)</h4>
        <h5>SLB (Schlumberger)</h5>
        <p>
          <ul>
            <li>
              Built a Python framework to simplify integration testing of
              software in C++ / Qt
            </li>
            <li>Wrote tests using the framework.</li>
            <li>Trained the team to use the framework.</li>
          </ul>
        </p>
        <p class="date">September 2016–February 2017</p>
      </div>
    </div>
  </div>
  <div id="right-column">
    <h3>Details</h3>
    <p>
      <MapPin />
      Montpellier, France
    </p>
    <a href="mailto:job@cyprien.io">
      <EnvelopeSimple />
      job@cyprien.io
    </a>
    <p>
      <Cake />
      2024-08-18
    </p>
    <p>
      <Flag />
      French
    </p>
    <a href="https://github.com/cyprieng">
      <GithubLogo />
      Github
    </a>

    <h3 class="mt-8">Skills</h3>

    {
      Object.entries(skills).map(([skill, level]) => {
        return (
          <div class="skill">
            <h4>{skill}</h4>
            <div class="progress-bar">
              <div style={{ width: `${level}%` }} />
            </div>
          </div>
        );
      })
    }

    <h3 class="mt-8">Languages</h3>
    {
      Object.entries(languages).map(([language, level]) => {
        return (
          <div class="skill">
            <h4>{language}</h4>
            <div class="progress-bar">
              <div style={{ width: `${level}%` }} />
            </div>
          </div>
        );
      })
    }
  </div>
</div>

<style>
  :global(#resume-main img) {
    @apply w-40 rounded-lg;
  }

  #resume {
    @apply p-8 mb-8 mx-8 flex print:text-xs;

    ul {
      @apply list-disc pl-5;
    }

    :global(svg) {
      @apply h-4 mb-1;

      :global(path) {
        @apply fill-slate-600 dark:fill-slate-200 stroke-slate-600 dark:stroke-slate-200;
      }
    }

    .progress-bar {
      @apply w-full bg-gray-200 rounded-full h-2.5;

      > div {
        @apply bg-skin-accent h-2.5 rounded-full;
      }
    }

    .skill {
      @apply mt-4;
    }

    #right-column {
      @apply basis-[30%] w-full;
    }

    #left-column {
      @apply basis-[70%] mr-10;
    }

    #resume-main {
      @apply flex;

      :global(img) {
        @apply w-40 rounded-lg;
      }

      #resume-name {
        @apply ml-8;

        h1 {
          @apply text-5xl print:text-3xl font-bold;
        }

        h2 {
          @apply text-lg font-normal mt-3;
        }
      }
    }

    h3 {
      @apply uppercase mb-3 text-slate-600 dark:text-slate-200 text-xl print:text-base font-extrabold;
    }

    #resume-profile {
      @apply mt-8;
    }

    #resume-education {
      @apply mt-8;
    }

    #resume-work {
      @apply mt-8;

      img {
        @apply mr-4 float-right pl-4;
      }
    }

    .row {
      @apply mb-8;

      h4 {
        @apply font-extrabold text-lg print:text-sm;
      }

      .date {
        @apply text-slate-400 dark:text-slate-300;
      }
    }
  }
</style>
