---
/**
 * Resume component displaying professional profile, education, work history, and skills.
 */

import { Image } from "astro:assets";

// Images
import photo from "../assets/images/resume/photo.jpeg";
import octipas from "../assets/images/resume/octipas.png";
import slb from "../assets/images/resume/slb.jpeg";

// Icons
import {
  GraduationCapIcon,
  UserIcon,
  MapPinIcon,
  EnvelopeSimpleIcon,
  CakeIcon,
  FlagIcon,
  SuitcaseSimpleIcon,
  GithubLogoIcon,
} from "@phosphor-icons/react/dist/ssr";

// Languages and levels (out of 100)
const languages = {
  French: 100,
  English: 80,
  Spanish: 30,
};
---

<div
  id="resume"
  class="mb-8 md:mx-8 md:flex md:p-8 print:mx-6 print:mb-0 print:p-2 print:text-xs"
>
  <div id="left-column" class="w-full md:mr-10 md:basis-[70%]">
    <div id="resume-main" class="max-md:text-center md:flex">
      <Image
        src={photo}
        alt="photo"
        class="h-40 w-40 rounded-lg max-md:mx-auto"
      />

      <div id="resume-name" class="max-md:mt-3 md:ml-8">
        <h1 class="font-bold max-md:text-3xl md:text-5xl print:text-3xl">
          Cyprien
        </h1>
        <h2 class="mt-3 text-lg font-normal">Senior software engineer</h2>

        <div class="md:hidden">
          <p>
            <MapPinIcon
              className="mb-1 h-4 text-slate-600 dark:text-slate-200"
            />
            Montpellier, France
          </p>
          <a href="mailto:job@cyprien.io">
            <EnvelopeSimpleIcon
              className="mb-1 h-4 text-slate-600 dark:text-slate-200"
            />
            job@cyprien.io
          </a>
          <p>
            <CakeIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
            2024-08-18
          </p>
          <p>
            <FlagIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
            French
          </p>
          <a href="https://github.com/cyprieng">
            <GithubLogoIcon
              className="mb-1 h-4 text-slate-600 dark:text-slate-200"
            />
            github.com/cyprieng
          </a>
        </div>
      </div>
    </div>

    <div id="resume-profile" class="mt-8">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        <UserIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
        Profile
      </h3>
      Professional software engineer with 8+ years of experience spanning software
      development, architecture, infrastructure, and leading teams.
      <br />
      Experienced in designing and delivering scalable, efficient solutions.
      <br />
      Passionate about technology, problem-solving, and continually exploring new
      tools and frameworks. Seeking to bring my skills to an innovative organization.
    </div>

    <div id="resume-education" class="mt-8">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        <GraduationCapIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        Education
      </h3>

      <div class="row mb-8">
        <h4 class="text-lg font-extrabold print:text-sm">
          Master's degree from Université de Technologie de Troyes
        </h4>
        <p>Master's degree in Computer Science.</p>
        <p class="date text-slate-400 dark:text-slate-300">2011–2017</p>
      </div>

      <div class="row mb-8">
        <h4 class="text-lg font-extrabold print:text-sm">
          Franklin W. Olin College of Engineering
        </h4>
        <p>Exchange semester.</p>
        <p class="date text-slate-400 dark:text-slate-300">
          September–December 2014
        </p>
      </div>
    </div>

    <div id="resume-work" class="mt-8">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        <SuitcaseSimpleIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        Work history
      </h3>

      <div class="row mb-8">
        <Image
          src={octipas}
          alt="Octipas"
          class="float-right mr-4 w-40 pl-4 invert dark:invert-0"
        />
        <h4 class="text-lg font-extrabold print:text-sm">Lead developer</h4>
        <h5>Octipas by Chapsvision</h5>
        <p>
          <ul class="list-disc pl-5">
            <li>
              Designed and implemented RESTful APIs, microservices, and
              databases to ensure robust and efficient backend systems.
            </li>
            <li>
              Developed responsive and intuitive frontend applications using
              VueJS.
            </li>
            <li>
              Architected and maintained cloud-based infrastructure on AWS and
              Azure, ensuring high availability, security, and performance.
            </li>
            <li>
              Implemented comprehensive observability solutions using Datadog
              for monitoring, logging, and APM across the entire application
              stack.
            </li>
            <li>
              Managed code reviews, provided mentoring, and offered technical
              guidance as Lead Developer.
            </li>
          </ul>

          <br />
          <b>Stack:</b> Node.js, VueJS, Laravel, Python, MySQL, Clickhouse, MongoDB,
          Terraform
        </p>
        <p class="date text-slate-400 dark:text-slate-300">2017–Present</p>
      </div>

      <div class="row mb-8">
        <Image src={slb} alt="octipas" class="float-right mr-4 w-20 pl-4" />
        <h4 class="text-lg font-extrabold print:text-sm">
          Developer (internship)
        </h4>
        <h5>SLB (Schlumberger)</h5>
        <p>
          <ul class="list-disc pl-5">
            <li>
              Built a Python framework to simplify integration testing of
              software written in C++/Qt. The framework provides high-level APIs
              to interact directly with the UI.
            </li>
            <li>Developed and implemented tests using the framework.</li>
            <li>
              Trained developers and QA teams on how to use the framework
              effectively.
            </li>
          </ul>
        </p>
        <p class="date text-slate-400 dark:text-slate-300">
          September 2016–February 2017
        </p>
      </div>
    </div>
  </div>
  <div id="right-column" class="w-full md:basis-[30%]">
    <div class="max-md:hidden">
      <h3
        class="mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        Details
      </h3>
      <p>
        <MapPinIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
        Montpellier, France
      </p>
      <a href="mailto:job@cyprien.io">
        <EnvelopeSimpleIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        job@cyprien.io
      </a>
      <p>
        <CakeIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
        2024-08-18
      </p>
      <p>
        <FlagIcon className="mb-1 h-4 text-slate-600 dark:text-slate-200" />
        French
      </p>
      <a href="https://github.com/cyprieng">
        <GithubLogoIcon
          className="mb-1 h-4 text-slate-600 dark:text-slate-200"
        />
        github.com/cyprieng
      </a>
    </div>

    <div class="skills">
      <h3
        class="mt-8 mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        Skills
      </h3>

      <h4 class="mt-4">Programming Languages</h4>
      JavaScript, TypeScript, Python, Go, PHP, C/C++, Java, Swift, Shell

      <h4 class="mt-4">Frontend</h4>
      HTML, CSS, VueJS, React, TailwindCSS

      <h4 class="mt-4">Frameworks</h4>
      Django, Laravel, Next.js, Serverless

      <h4 class="mt-4">Databases</h4>
      MySQL, PostgreSQL, ClickHouse, MongoDB, SQL

      <h4 class="mt-4">Cloud & DevOps</h4>
      Docker, Kubernetes, Terraform, AWS, Azure, Git, Subversion

      <h3
        class="mt-8 mb-3 text-xl font-extrabold text-slate-600 uppercase dark:text-slate-200 print:text-base"
      >
        Languages
      </h3>
      {
        Object.entries(languages).map(([language, level]) => {
          return (
            <div class="skill mt-4">
              <h4>{language}</h4>
              <div class="progress-bar h-2.5 w-full rounded-full bg-gray-200">
                <div
                  style={{ width: `${level}%` }}
                  class="bg-accent h-2.5 rounded-full"
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
