---
/**
 * Base HTML layout component with meta tags, OpenGraph, and analytics.
 */

import config from "@config";
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import themeScript from "@utils/toggle-theme.js?raw";

export interface Props {
  title?: string; // Page title
  description?: string; // Page description
  ogImage?: string; // Open Graph image URL
  canonicalURL?: string; // Canonical URL for the page
  publicationDatetime?: Date; // Publication date for articles
  updateDatetime?: Date | null; // Update date for articles
}

const {
  title = config.title,
  description = config.description,
  ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  publicationDatetime,
  updateDatetime,
} = Astro.props;

const author = config.author;
const socialImageURL = new URL(ogImage ?? "og.png", Astro.url.origin).href;
---

<!doctype html>
<html lang=`${config.locale}` class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#ffffff" />

    <link
      rel="icon"
      type="image/svg+xml"
      sizes="any"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍💻</text></svg>"
    />

    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Article Published/Modified time -->
    {
      publicationDatetime && (
        <meta
          property="article:published_time"
          content={publicationDatetime.toISOString()}
        />
      )
    }
    {
      updateDatetime && (
        <meta
          property="article:modified_time"
          content={updateDatetime.toISOString()}
        />
      )
    }

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <meta name="theme-color" content="" />

    <ClientRouter />

    <script is:inline set:html={themeScript} />

    <!-- Analytics -->
    <script
      is:inline
      async
      data-astro-rerun
      src="https://cloud.umami.is/script.js"
      data-website-id="574ae0d3-83d8-49ca-972f-d3662d977a56"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
