---
import Pagination from "@components/Pagination.astro";
import PostLink from "@components/PostLink.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { type CollectionEntry } from "astro:content";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: (CollectionEntry<"blog"> | CollectionEntry<"projects">)[];
  tag: string;
  tagName: string;
}

const { currentPage, totalPages, paginatedPosts, tag, tagName } = Astro.props;
---

<MainLayout title={`Tag: ${tagName}`}>
  <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
  <ul>
    {
      paginatedPosts.map(({ data, slug, collection }) => (
        <PostLink
          href={
            collection === "projects" ? `/projects/${slug}/` : `/posts/${slug}/`
          }
          frontmatter={data}
        />
      ))
    }
  </ul>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/tags/${tag}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/tags/${tag}/${currentPage + 1}/`}
  />
</MainLayout>
